# Ignore virtual environments
.venv/
env/
venv/
ENV/

# Ignore environment variables / secrets
.env

# Ignore OS-specific system files
.DS_Store
Thumbs.db

# Ignore Python cache files
__pycache__/
*.pyc